@page
@model Inventario.App.Presentacion.Proveedores.DetailsModel
@{
    ViewData["Title"] = "Detalles Proveedor";
}

<div class="card">
    <div class="card-header">
        <h2 class="text-info">Datos del Proveedor</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-sumary="ModelOnly" class="text-dark">
                <div class="container" style="padding: 30px">
                    
                    <!-- se envía campo de la PK oculto -->
                    <input type="hidden"  asp-for="proveedor.id" />

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="proveedor.nit"  class="text-dark"></label>
                            </div>
                            <div class="col-sm-3">
                                @Model.proveedor.nit;
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="proveedor.nombre"  class=" text-dark"></label>
                            </div>
                            <div class="col-sm-6">
                                @Model.proveedor.nombre
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="proveedor.direccion"  class=" text-dark"></label>
                            </div>
                            <div class="col-sm-6">
                                @Model.proveedor.direccion
                            </div>
                            <span asp-validation-for="proveedor.direccion" class="text-danger"></span>
                        </div>
                    </div>

                    <br>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="proveedor.telefono"  class=" text-dark"></label>
                            </div>
                            <div class="col-sm-3">
                                @Model.proveedor.telefono
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="proveedor.email"  class=" text-dark"></label>
                            </div>
                            <div class="col-sm-3">
                                @Model.proveedor.email
                            </div>
                        </div>
                    </div>

                    <br>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="proveedor.vigente"  class="text-dark"></label>
                            </div>
                            <div class="col-sm-3">
                                @Model.proveedor.vigente
                            </div>
                        </div>
                    </div>

                    <br>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <a asp-page="List" class="btn btn-primary form-control">Volver a la Lista</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
